
.content-form .form-register .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
.form-register .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
/* .form-register .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
} */
.user-details .input-box .input-register{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: none;
  border: 12px;
  font-family: "Roboto", sans-serif;
  transition: all 0.3s ease;
}
/* .user-details .input-box .input-register,
.user-details .input-box .input-register:valid{
  border-color: #9b59b6;
} */

 .form-register .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 .form-register .category {
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 .form-register .category .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 
 .form-register .input-register[type="radio"]{
   display: none;
 }
 .form-register .button{
   height: 45px;
   margin: 35px 0
 }
 .form-register .button .input-register{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: 0.3s;
   background: rgb(116,204,190);
   background: radial-gradient(circle, rgba(116,204,190,1) 0%, rgba(202,255,252,1) 100%);
 }
 
 @media(max-width: 584px){
 .container-register{
  max-width: 100%;
}
.form-register .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  .form-register .category{
    width: 100%;
  }
  .content-form .form-register .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .container-register .content-form .category{
    flex-direction: column;
  }
}


.reg-con{
  width: 55%;
}

.register-bg-color{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.562);
}
.regpage{
  
  min-width: 1250px;
  height: 100vh;
  background-image: url("https://www.economist.com/cdn-cgi/image/width=1096,quality=80,format=auto/sites/default/files/images/print-edition/20170826_MAP003_0.jpg");
}

.regtitle{
  font-family: "Madimi One", sans-serif;
  font-size: 30px;
 }