*{
    margin: 0;
}
::-webkit-scrollbar{
    width: 6px;
    height: 8px;
    margin-right: 4px;
}
::-webkit-scrollbar-track{
    background: #ffffff00;
}
::-webkit-scrollbar-thumb {
    background:#2182561b;
    border-radius: 30px;
  }




.pagecontent{
    background-image: url("https://www.economist.com/cdn-cgi/image/width=1096,quality=80,format=auto/sites/default/files/images/print-edition/20170826_MAP003_0.jpg");
    background-repeat: repeat-y;
    background-size: 100%;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(232, 232, 232);
}

/* FOR HEADER */
  
.header{
    width: 100%;
    padding: 0.4rem;
    height: 4.5rem;
    box-sizing: border-box;
    background-color: #63805f;
    background-repeat: repeat-x;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 300;

    justify-content: space-between;
    align-items: center;

    box-shadow: 12px 14px 18px 1px rgba(171,171,171,0.75);
    -webkit-box-shadow: 12px 14px 18px 1px rgba(171,171,171,0.75);
    -moz-box-shadow: 12px 14px 18px 1px rgba(171,171,171,0.75);
}

.logo{
    overflow: hidden;
    height: 93%;
    width: 250px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid white;
    border-radius: 5px;
    transition: 1.5s;
}
.logo:hover{
    transition: 0.8s;
    transform: translateX(30px);
}


.search{
    height: fit-content;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    width: 100%;
    gap: 0.8rem;
}
.search-2{
    padding-top: 20px;
}
.se-input:focus{
    background: #67876415;
    box-shadow: 0px 6px 39px 0px rgba(231, 231, 231, 0.645);
    transition: 0.1s;
}
.se-input:hover{
    background: #67876415;
    box-shadow: 0px 6px 39px 0px rgba(231, 231, 231, 0.645);
    transition: 0.1s;
}

.se-input{
    color: white;
    padding: 0.5rem;
    border: none;
    outline: none;
    height: 40px;
    width: 250px;
    border-radius: 0.3rem;
    background: #6787646b;
}

.filter-container{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background-color: #668663;
}

.dashboard-login-icon{
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}
.dashboard-user-welcome{
    height: 40px;
    width: 190px;
    border-radius: 10px;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.39);
    color: white;
}

.header-icons{
    width: fit-content; 
    height: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    
}



.acc-icon{
    outline: none;
    border: none;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    box-sizing: border-box;
    box-shadow: none;
    background: inherit;
    overflow: hidden;
}
.acc-icon:focus{
    border: 2px rgb(177, 193, 175) solid;
    outline: none;
}


.acc-dpdown{
    background: #668663;
    width: 60px;
    margin-right: 130px;
    margin-top: 20px;
}
.acc-dpdown-true{
    background-color: rgb(150, 166, 140);
    width: 180px;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 17px;
    position: fixed;
    top: 75px;
    right: 0px;
    display: flex;
    flex-direction: column;
    align-items:flex-start ;
    gap: 16px;
    z-index: 300;
    transition: 1s;
    border-radius: 12px 0px 0px 12px;
}
.acc-dpdown-false{
    background-color: rgb(195, 195, 195);
    width: 180px;
    padding-top: 10px;
    padding-bottom: 15px;
    position: fixed;
    top: 75px;
    right: -1000px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    z-index: 300;
    transition: 3s;
}





/* Section One */

.section-one{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.769);
}

.secone-header{
    font-family: "Madimi One", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 20px;
    
}

.nav-btn{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 130px;
    position: sticky;
    top:5.2rem;
    z-index: 100;
 

}


.secone-div3{
    margin-top: 1rem;
    box-sizing: border-box;
    width: 100%;
    padding-left: 10px;
    height: fit-content;
}

.orphanages{
 display: flex;
 gap: 2rem;
 flex-wrap: wrap;
 width: 100%;
}

/* Orphanage Deatails Card */
.orp-detailcard{
    padding: 15px;
    display: flex;
    justify-content: flex-start;
    gap: 6px;
    width: 560px;
    border-radius: 20px;
    position: relative;
    color: white;
    overflow: hidden;
    box-shadow: 0px 2px 3px -1px rgba(0,0,0,0.1), 0px 1px 0px 0px rgba(25,28,33,0.02), 0px 0px 0px 1px rgba(25,28,33,0.08);
    background: rgb(42,136,35);
background: linear-gradient(90deg, rgba(42,136,35,1) -100%, rgba(192,187,72,1) 100%);
 
}
.orp-detailcard:hover{
    background: linear-gradient(321deg, #2a8823, #c0bb48, #c0bb48, #2a8823);
    background-size: 800% 800%;

    -webkit-animation: AnimationName 26s ease infinite;
    -moz-animation: AnimationName 26s ease infinite;
    -o-animation: AnimationName 26s ease infinite;
    animation: AnimationName 26s ease infinite;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 32%}
    50%{background-position:100% 69%}
    100%{background-position:0% 32%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 32%}
    50%{background-position:100% 69%}
    100%{background-position:0% 32%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 32%}
    50%{background-position:100% 69%}
    100%{background-position:0% 32%}
}
@keyframes AnimationName {
    0%{background-position:0% 32%}
    50%{background-position:100% 69%}
    100%{background-position:0% 32%}
}

.orp-bio{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    width: 350px;
    height: 200px;
    box-sizing: border-box;
    overflow-wrap: break-word;
    overflow-y: scroll;
    /* background: #668663; */

}

.oprcard-head{
    font-family: "Madimi One", sans-serif;
    color: white;
}

.orpcard-footer{
    width: 350px;
    height: 25px;
    font-size: 12px;
    box-sizing: border-box;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    font-family: "Madimi One", sans-serif;
    color: rgb(229, 229, 229);
}
.orp-card-info{
    width: 100px;
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.orp-card-info-2{
    width: 250px;
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.orp-card-btns-cont{
    width: 200px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
}
.orp-card-btns{
    width: 200px;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    margin-left: -500px;
    transition: 1s;
    z-index: 20;

}
.orp-card-bck-img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    z-index: 0;
    opacity: 0.2;
}
.orp-detailcard:hover .orp-card-btns{
    margin-left: 0px;
    transition: 1s;
}
.new-orp-donate-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: white 6px double;
    border-radius: 15px;
    background: none;
    color: white;
    margin-left: 6px;
    margin-right: 5px;
    outline: none;
}  
.new-orp-donate-btn:disabled{
    color: grey;
    border-color: grey;
} 


/* Orphange Campaign Card */

.campaigns{
    padding-top: 20px;
    margin-bottom: 10px;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    width: 100%;
}

.orp-campaigncard{
    width: 490px;
    height: 200px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 25px;
    overflow: hidden;
    background-color: white;
    position: relative;
    box-shadow: 0px 2px 3px -1px rgba(0,0,0,0.1), 0px 1px 0px 0px rgba(25,28,33,0.02), 0px 0px 0px 1px rgba(25,28,33,0.08);
}


.orp-campaigncard-divone{
    width: 180px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.3s;
}
.campaign-img{
    width: 400px;
}
.campaign-details{
    padding-top: 10px;
}
.cp-det-header{
    font-family: "Madimi One", sans-serif;
    font-size: 22px;
}

.campaign-card-bio{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 15px;
    overflow: hidden;
    height: 100%;
    width: 250px;
}

.orp-cpcard-divtwo{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100%;
    
}

.cp-det-btn{
    position: absolute;
    left: 0;
    top:-400px;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: rgba(96, 96, 96, 0.909);
    transition: 1s;
}
.orp-campaigncard:hover .cp-det-btn{
    top:0;
    transition: .4s;
}

.cpcd-dnt{
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 74px;
    height: 30px;
    outline: none;
    border-radius: 7px;
   font-size: 12px;
   font-weight: 600;
   background: rgb(197,29,126);
   background: linear-gradient(143deg, rgba(197,29,126,1) 0%, rgba(100,184,105,1) 100%); 
}
.cpcd-dnt2{
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 94px;
    height: 30px;
    outline: none;
    border-radius: 7px;
   font-size: 12px;
   font-weight: 600;
   background: rgb(197,29,126);
   background: linear-gradient(143deg, rgba(197,29,126,1) 0%, rgba(100,184,105,1) 100%);  
}