*{
    margin: 0;
}
::-webkit-scrollbar{
    width: 6px;
    margin-right: 4px;
}
::-webkit-scrollbar-track{
    background: #ffffff00;
}
::-webkit-scrollbar-thumb {
    background:#2182561b;
    border-radius: 30px;
  }




.pagecontent{
    background-image: url("https://www.economist.com/cdn-cgi/image/width=1096,quality=80,format=auto/sites/default/files/images/print-edition/20170826_MAP003_0.jpg");
    background-repeat: repeat-y;
    background-size: 100%;
    box-sizing: border-box;
    height: fit-content;
    width: 100vw;

    display: flex;
    flex-direction: column;
  


}

/* FOR HEADER */
  
.header{
    width: 100%;
    padding: 0.4rem;
    height: 4.5rem;
    box-sizing: border-box;
    background-color: #63805f;
    background-repeat: repeat-x;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 300;

    justify-content: space-between;
    align-items: center;

    box-shadow: 12px 14px 18px 1px rgba(171,171,171,0.75);
    -webkit-box-shadow: 12px 14px 18px 1px rgba(171,171,171,0.75);
    -moz-box-shadow: 12px 14px 18px 1px rgba(171,171,171,0.75);
}

.logo{
    overflow: hidden;
    height: 93%;
    width: 250px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid white;
    border-radius: 5px;
    transition: 1.5s;
}
.logo:hover{
    transition: 0.8s;
    transform: translateX(30px);
}


.search{
    height: fit-content;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    width: 100%;
    gap: 0.8rem;
}
.se-input:focus{
    background: #67876415;
    box-shadow: 0px 6px 39px 0px rgba(231, 231, 231, 0.645);
    transition: 0.1s;
}
.se-input:hover{
    background: #67876415;
    box-shadow: 0px 6px 39px 0px rgba(231, 231, 231, 0.645);
    transition: 0.1s;
}

.se-input{
    color: white;
    padding: 0.5rem;
    border: none;
    outline: none;
    height: 40px;
    width: 250px;
    border-radius: 0.3rem;
    background: #6787646b;
}

.filter-container{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background-color: #668663;
}

.dashboard-login-icon{
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}
.dashboard-user-welcome{
    height: 40px;
    width: 190px;
    border-radius: 10px;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.39);
    color: white;
}

.header-icons{
    width: fit-content; 
    height: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    
}



.acc-icon{
    outline: none;
    border: none;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    box-sizing: border-box;
    box-shadow: none;
    background: inherit;
    overflow: hidden;
}
.acc-icon:focus{
    border: 2px white solid;
    outline: none;
}


.acc-dpdown{
    background: #668663;
    width: 60px;
    margin-right: 130px;
    margin-top: 20px;
}
.acc-dpdown-true{
    background-color: rgb(150, 166, 140);
    width: 180px;
    padding-top: 10px;
    padding-bottom: 15px;
    position: fixed;
    top: 75px;
    right: 0px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    z-index: 300;
    transition: 1s;
    border-radius: 12px 0px 0px 12px;
}
.acc-dpdown-false{
    background-color: rgb(195, 195, 195);
    width: 180px;
    padding-top: 10px;
    padding-bottom: 15px;
    position: fixed;
    top: 75px;
    right: -1000px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    z-index: 300;
    transition: 3s;
}





/* Section One */

.section-one{
    flex: 1;
    box-sizing: border-box;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    height: fit-content;
    background-color: rgba(222, 222, 222, 0.955);
}

.secone-header{
    font-family: "Madimi One", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.nav-btn{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 130px;
    position: sticky;
    top:5.2rem;
    z-index: 100;
    /* position: sticky;
    top: 70px; */
  
 

}


.secone-div3{
    margin-top: 1rem;
    box-sizing: border-box;
    margin-left: 1px;
    /* overflow: scroll;
    overflow-x: hidden; */

    height: fit-content;
}

.orphanages{
 display: flex;
 gap: 2rem;
 flex-wrap: wrap;
 /* height: 380px;
 overflow-y: scroll; */


}

/* Orphanage Deatails Card */
.orp-detailcard{
    border: #668663;
    border-width: 2px;
    border-style: solid;
    padding: 15px;
    display: flex;
    box-sizing: border-box;
    justify-content: flex-start;
    gap: 6px;
    background-color: rgba(255, 255, 255, 0.84);
    width: 560px;
    border-radius: 20px;
    box-shadow: 14px 11px 18px -3px rgba(158,158,158,0.69);
    -webkit-box-shadow: 14px 11px 18px -3px rgba(158,158,158,0.69);
    -moz-box-shadow: 14px 11px 18px -3px rgba(158,158,158,0.69);
    
}

.orp-bio{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    width: 350px;
    height: 200px;
    box-sizing: border-box;
    overflow-wrap: break-word;
    overflow-y: scroll;
    /* background: #668663; */

}

.oprcard-head{
    font-family: "Madimi One", sans-serif;
    color: #668663;
}

.orpcard-footer{
    height: 25px;
    font-size: 12px;
    box-sizing: border-box;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    gap: 34px;
    font-family: "Madimi One", sans-serif;
    color: rgb(104, 104, 104);
}

.orp-card-btns{
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    border-style: double;
    border-width: 3px;
    border-color: #668663;
    border-radius: 10px;
    height: fit-content;
}



/* Orphange Campaign Card */

.campaigns{
    padding-top: 140px;
}

.orp-campaigncard{
    width: 490px;
    height: 300px;
    border-width: 3px;
    border-radius: 35px;
    border: 3px solid #b6d9b3;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 10px;
    background-color: white;
}

.orp-campaigncard-divone{
    border-radius: 38px;
    width: 180px;
    height: 95%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    box-shadow: 14px 11px 18px -3px rgba(158,158,158,0.69);
    -webkit-box-shadow: 14px 11px 18px -3px rgba(158,158,158,0.69);
    -moz-box-shadow: 14px 11px 18px -3px rgba(158,158,158,0.69);
}
.campaign-img{
    width: 600px;
}

.cp-det-header{
    font-family: "Madimi One", sans-serif;
    font-size: 22px;
}

.campaign-card-bio{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 15px;
    overflow: hidden;
    height: 150px;
    width: 250px;
  

}

.orp-cpcard-divtwo{
    display: flex;
    flex-direction: column;
    width: 250px;
    
    
}

.cp-det-btn{
    display: flex;
    justify-content: space-between;
}

.cpcd-dnt{
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 74px;
    height: 30px;
    outline: none;
    border-radius: 7px;
   font-size: 12px;
}